@media screen and (min-width: 1921px) {
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
}

@media screen and (min-width: 415px) and (max-width: 768px) {
}

@media screen and (max-width: 414px) {
  .W_First_screen_art_degree {
    height: auto;
    padding: 6vw 4vw 8vw;
    gap: 5vw;
  }

  #return_back {
    width: auto;
    height: auto;
    margin: 0;
    gap: 2vw;
  }

  #return_back img {
    width: 5vw;
    height: auto;
    display: block;
  }

  .h2_art_degree {
    margin-left: 0;
  }

  .W_screen1_line2_art_degree {
    height: auto;
    padding: 2vw 0 0;
  }

  .W_screen1_line3 {
    gap: 2vw;
  }

  .A_ava_article {
    gap: 3vw;
  }

  .Q_artical-ava {
    width: 10vw;
  }

  .W_Second_screen_art_degree {
    background-position: top center;
    background-size: cover;
    padding: 8vw 0;
  }

  .W_begin_article,
  .W_begin_article_2 {
    height: auto;
    padding: 8vw 4vw 0;
    flex-direction: column;
    gap: 4vw;
  }

  .First_vertical_line_art_degree {
    width: 100%;
  }

  .Second_vertical_line,
  .Second_vertical_line_art_degree,
  .Second_vertical_line_2lev {
    width: 100%;
    height: auto;
  }

  .Second_vertical_line {
    gap: 4vw;
  }

  .Second_vertical_line_art_degree {
    width: 100%;
  }

  .Second_horizontal_line_2lev,
  .Second_horizontal_line_3lev {
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4vw;
  }

  .C_Card {
    width: 100%;
    height: 77vw;
    border-radius: 4vw;
  }

  .M_CardGlass_articles {
    border-radius: 4vw;
    padding: 4vw;
    gap: 2vw;
  }

  .A_CardTitle {
    font-size: 73rem;
    line-height: 78rem;
  }

  .A_CardBadge_articles {
    width: 10vw;
    height: 10vw;
    border-radius: 99vw;
    right: 4vw;
    top: 4vw;
    border-width: 0.6vw;
  }

  .A_CardBadge_articles h2 {
    font-size: 118rem;
    line-height: 1;
  }

  .A_CardIconWrap_articals {
    width: 26vw;
    height: 26vw;
    top: 10vw;
  }

  .h2_Second_vertical_line_art_razer_stroke1 {
    width: 38%;
  }

  .Q_CardIcon {
    margin: 43vw 0 0 0;
    /* height: 105vw; */
    width: 73vw;
  }

  .O_ad_tg {
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 4vw;
    overflow: hidden;
    margin: 8vw 0;
    min-height: 44vw;
  }

  .W_final_article {
    flex-direction: column;
    height: auto;
    padding: 8vw 4vw 12vw;
    gap: 8vw;
  }

  .First_vertical_line_art_degree_block,
  .Second_vertical_line_art_degree_block {
    width: 100%;
  }

  .First_vertical_line_art_degree_h2 {
    width: 100%;
    margin-bottom: 6vw;
  }

  .W_infographic_article_degree {
    height: auto;
    gap: 6vw;
  }

  .infographic_article_degree_1,
  .infographic_article_degree_2,
  .infographic_article_degree_3,
  .infographic_article_degree_4 {
    width: 100%;
    height: auto;
  }

  .Q_artical-diagram-degree {
    width: 100%;
  }

  .M_infographic_h2 {
    width: 100%;
    margin-top: 3vw;
  }

  .Second_vertical_line_art_degree_stroke {
    flex-direction: column;
    height: auto;
    gap: 2vw;
    width: 89vw;
  }

  .Q_artical-diagram {
    width: 96vw;
  }

  .First_vertical_line_art_razer_block {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 3vw;
    width: 90vw;
  }

  .h2_Second_vertical_line_art_degree_stroke1,
  .h2_Second_vertical_line_art_degree_stroke2 {
    width: 100%;
  }

  .infographic-razer_article_degree_2,
  .infographic-razer_article_degree_3,
  .infographic-razer_article_degree_4,
  .infographic_article-razer_degree_1 {
    align-content: flex-start;
    height: 59vw;
    margin-right: 10vw;
    width: 67vw;
  }

  .W_Second_screen_art_razer {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    width: 100%;
    height: 920vw;
  }

  p {
    font: var(--font-body);
    font-size: 56rem;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

/* Большие экраны */
@media screen and (min-width: 1921px) and (orientation: landscape) {
  /* Горизонтальная ориентация */
}

@media screen and (min-width: 1921px) and (orientation: portrait) {
  /* Вертикальная ориентация */
}

/* От 1441px до 1920px */
@media screen and (min-width: 1441px) and (max-width: 1920px) and (orientation: landscape) {
  /* Горизонтальная ориентация */
}

@media screen and (min-width: 1441px) and (max-width: 1920px) and (orientation: portrait) {
  /* Вертикальная ориентация */
}

/* От 769px до 1440px */
@media screen and (min-width: 769px) and (max-width: 1440px) and (orientation: landscape) {
  /* Горизонтальная ориентация */
}

@media screen and (min-width: 769px) and (max-width: 1440px) and (orientation: portrait) {
  /* Вертикальная ориентация */
}

/* От 415px до 768px */
@media screen and (min-width: 415px) and (max-width: 768px) and (orientation: landscape) {
  /* Горизонтальная ориентация */
}

@media screen and (min-width: 415px) and (max-width: 768px) and (orientation: portrait) {
  /* Вертикальная ориентация */
}

/* Максимум 414px */
@media screen and (max-width: 414px) and (orientation: landscape) {
  /* Горизонтальная ориентация */
}

@media screen and (max-width: 414px) and (orientation: portrait) {
  /* Вертикальная ориентация */
}
