<article class="C_Card">
  <span class="Q_CardCorner Q_CardCorner--tl" aria-hidden="true"></span>
  <span class="Q_CardCorner Q_CardCorner--tr" aria-hidden="true"></span>
  <span class="Q_CardCorner Q_CardCorner--bl" aria-hidden="true"></span>
  <span class="Q_CardCorner Q_CardCorner--br" aria-hidden="true"></span>

  <div class="M_CardClip">
    <div class="Q_CardMedia" style="background-image: url('#')"></div>

    <div class="M_CardGlass">
      <a class="A_CardBadge" href="#" aria-label="Тег карточки">
        <img class="Q_CardBadgeIcon" src="#" alt="" />
      </a>

      <div class="A_CardIconWrap">
        <img class="Q_CardIcon" src="#" alt="Иконка карточки" />
      </div>

      <h3 class="A_CardTitle">А в чём выгода?</h3>
      <p class="A_CardText">
        Как правильно сортировать отходы дома и получать за это «плюшки»
      </p>
    </div>
  </div>
</article>
