.C_Card {
  position: relative;
  width: 23vw;
  height: 23vw;
  border-radius: 1.5vw;
  overflow: visible;
}

.M_CardClip {
  position: absolute;
  inset: 0;

  border-radius: 1.5vw;
  overflow: hidden;
}

.Q_CardMedia {
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 4.74px 4.74px rgba(255, 255, 255, 0.65);
  transform: scale(1.02);
}

.M_CardGlass {
  backdrop-filter: blur(16.1px);
  -webkit-backdrop-filter: blur(16.1px);
  border: var(--glass-border-light);
  border-radius: 1.5vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  inset: 0;
  justify-content: flex-end;
  padding: 2vw 3vw;
  position: absolute;
}

.Q_CardCorner {
  height: 3vw;
  width: 3vw;
  pointer-events: none;
  position: absolute;
  --corner-stroke: 0.3vw;
  --corner-color: #ced0d0;
  z-index: 5;
}

.Q_CardCorner--tl {
  left: calc(var(--corner-stroke) * -1);
  top: calc(var(--corner-stroke) * -1);
  margin: 0 0 0 0.3vw;
  border-top: var(--corner-stroke) solid var(--corner-color);
  border-left: var(--corner-stroke) solid var(--corner-color);
  border-top-left-radius: 1.5vw;
}

.Q_CardCorner--tr {
  right: calc(var(--corner-stroke) * -1);
  top: calc(var(--corner-stroke) * -1);
  margin: 0 0.2vw 0 0;
  border-top: var(--corner-stroke) solid var(--corner-color);
  border-right: var(--corner-stroke) solid var(--corner-color);
  border-top-right-radius: 1.5vw;
}

.Q_CardCorner--bl {
  left: calc(var(--corner-stroke) * -1);
  bottom: calc(var(--corner-stroke) * -1);
  margin: 0 0 0.3vw 0.3vw;
  border-bottom: var(--corner-stroke) solid var(--corner-color);
  border-left: var(--corner-stroke) solid var(--corner-color);
  border-bottom-left-radius: 1.5vw;
}

.Q_CardCorner--br {
  right: calc(var(--corner-stroke) * -1);
  bottom: calc(var(--corner-stroke) * -1);
  margin: 0 0.2vw 0.3vw 0.3vw;
  border-bottom: var(--corner-stroke) solid var(--corner-color);
  border-right: var(--corner-stroke) solid var(--corner-color);
  border-bottom-right-radius: 1.5vw;
}

.A_CardBadge {
  align-items: center;
  background: var(--color-neon-green);
  border-radius: 0.5vw;
  display: flex;
  height: 3.5vw;
  justify-content: center;
  position: absolute;
  right: 22rem;
  text-decoration: none;
  top: 22rem;
  width: 3.5vw;
  z-index: 3;
}

.Q_CardBadgeIcon {
  width: 26rem;
  height: 26rem;
  display: block;
  object-fit: contain;
}

.A_CardIconWrap {
  position: absolute;
  top: 76rem;
  left: 50%;
  transform: translateX(-50%);

  width: 160rem;
  height: 160rem;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.Q_CardIcon {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.A_CardTitle {
  font: var(--font-h2);
  color: var(--color-white);
  margin: 0;
}

.A_CardText {
  font: var(--font-body);
  color: rgba(250, 250, 250, 0.7);
  margin: 0;
}
