.W-ScreenOne-AboutUs {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.A-Title-AboutUs {
  margin: -2.3vw 0 0 12vw;
}

.W-ScreenOne-AboutUs-Left,
.W-ScreenOne-AboutUs-Right {
  width: 49%;
  height: 100%;
}

.W-Profile-AboutUs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 2vw;
  flex-wrap: wrap;
}

.M-Profile-AboutUs {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}

.W-Profile-Img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  background-color: var(--color-bg-grey);
  border-radius: 100%;
  box-shadow:
    inset 0 4.6px 4.6px 0 #ffffffcc,
    inset 0 -3.06px 4.6px 0 #00000033;
}

.A-Profile-Img {
  width: 67%;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.A-Profile-Img:hover {
  width: 70%;
}

.A-Profile-Name {
  font: var(--font-h3);
  color: var(--color-read);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.button-yellow {
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.button-yellow:hover {
  background-color: #d0d33b;
}

.A-Profile-Name:hover {
  color: var(--color-dark-grey);
}

.W-ScreenTwo-AboutUs {
  width: 100%;
  height: fit-content;
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
}

.W-ScreenTwo-AboutUs-Right,
.W-ScreenTwo-AboutUs-Left {
  width: 49%;
  height: 40vw;
  background-color: var(--color-white);
  border-radius: 2vw;
  padding: 2vw;
  position: relative;
}

.W-traceAboutPrinciples {
  height: 80%;
  width: 100%;
  margin-top: 2vw;
}

.W-traceAboutPrinciplesBlocks {
  width: 100%;
  height: 66%;
  display: flex;
  justify-content: space-between;
}

.W-traceAboutFeatureHeader {
  width: 100%;
}

.A-traceAboutPrinciplesHeader,
.A-traceAboutFeatureHeader {
  font: var(--font-h1);
  color: var(--color-read);
  margin-bottom: 1.5vw;
  text-transform: uppercase;
}

.A-traceAboutFeatureHeader-Text {
  width: 100%;
  font: var(--font-h3);
  color: var(--color-read);
  text-transform: uppercase;
}

.M-PrinciplesBlock {
  width: 32%;
  height: 106%;
  background-color: var(--color-text);
  border-radius: 1vw;
  padding: 1vw;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow:
    inset 0 6px 6px 0 rgba(255, 255, 255, 0.8),
    inset 0 -4px 6px 0 rgba(0, 0, 0, 0.2);
}

.M-PrinciplesBlock:hover {
  background-color: var(--color-bg-grey);
}

.A-PrinciplesBlock {
  width: 100%;
  font: var(--font-h2);
  color: var(--color-read);
  text-transform: uppercase;
}

.A-Wallet-Img,
.A-Earth-Img,
.A-Book-Img {
  height: 60%;
  width: 100%;
  margin-bottom: 0.5vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.A-Wallet-Img {
  background-image: url(../img/about-us/A-Wallet-Img.png);
}

.A-Earth-Img {
  background-image: url(../img/about-us/A-Earth-Img.png);
}

.A-Book-Img {
  background-image: url(../img/about-us/A-Book-Img.png);
}

.W-LettersValues {
  width: 100%;
  height: 80%;
  margin: 1vw 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url(../img/about-us/A-Trace-Letters.svg); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.2vw;
  position: relative;
}

.A-LettersValues-Img {
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* .W-Rational, .W-Active {
  width: 40%;
} */

.A-Tranier-img {
  width: 79%;
}

.A-Flacon-img {
  width: 40%;
  position: absolute;
  /* z-index: 1; */
  top: 0vw;
  left: -1vw;
}

.A-Kettle-img {
  width: 82%;
}

.W-Economy,
.W-Active,
.W-Rational,
.W-Transform {
  width: auto;
  position: absolute;
}

.W-Transform {
  left: 1vw;
  top: 1vw;
}

.W-Rational {
  left: 26vw;
  top: 7vw;
  /* width: 30%; */
}

.W-Active {
  left: 1vw;
  top: 12vw;
  /* width: 47%; */
}

.W-Economy {
  left: 28vw;
  top: 25vw;
  /* width: 47%; */
}

.A-Economy,
.A-Conscious,
.A —Active,
.A-Rational,
.A-Transform {
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center center;
}

.A-Transform {
  transform-origin: left center;
  animation: transformMove 2s ease infinite;
}

@keyframes transformMove {
  0% {
    transform: rotate(-9deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(-9deg);
  }
}

.A-Rational {
  transform-origin: right center;
  animation: rationalMove 2s ease infinite;
}

@keyframes rationalMove {
  0% {
    transform: rotate(12deg);
  }
  50% {
    transform: rotate(9deg);
  }
  100% {
    transform: rotate(12deg);
  }
}

.A-Active {
  transform-origin: left center;
  animation: activeMove 2s ease infinite;
}

@keyframes activeMove {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.A-Conscious {
  transform-origin: left bottom;
  animation: consciousMove 2s ease infinite;
}

@keyframes consciousMove {
  0% {
    transform: rotate(-11deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-11deg);
  }
}

.A-Economy {
  transform-origin: right bottom;
  animation: economyMove 2s ease infinite;
}

@keyframes economyMove {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

.A-Values-Text {
  width: max-content;
  font: var(--font-h3);
  color: var(--color-text);
  text-transform: uppercase;
  background-color: var(--color-pink);
  padding: 0.5vw;
  border-radius: 0.2vw;
  position: absolute;
}

/* .A-LettersValues-Img {
  margin-top: 3vw;
  width: 75%;
} */

.W-ScreenThree-AboutUs {
  margin-top: 2vw;
  align-items: center;
  background-color: var(--color-pink);
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  height: 20vw;
  width: 100%;
  padding: 3vw 3vw;
  gap: 1vw;
}

.A-TelegramAdd {
  width: 98%;
}

.A-TelegramAdd-Text {
  font: var(--font-h1);
  color: var(--color-text);
}
