@media screen and (min-width: 415px) and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    width: calc(40% - 40rem);
  }

  .hero {
    flex-direction: column;
    height: 60vw;
    width: 50vw;
  }

  .hero__content {
    margin: 90rem 0 0 0;
    width: 80%;
  }

  .hero__media {
    left: 2vw;
    width: 97%;
    top: 3vw;
    height: 55vw;
  }

  .dashboard {
    flex-direction: column;
    height: 89vw;
    gap: 2vw;
    width: 50vw;
  }

  .tiles {
    flex-direction: row;
    width: 100%;
    max-width: 47vw;
    height: 67vw;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .tiles {
    flex-direction: row;
    width: 100%;
    max-width: 50vw;
  }
}
