* {
  box-sizing: border-box;
}

html {
  background: var(--color-bg-gradient-primary);
  font-size: calc(1vw / 19.2);
  margin: calc(1vw / 19.2);
} /* 100vw / 1440 */

body {
  height: auto;
  margin: 0;
  padding: 0;
  background-image: url(../img/articles/Bg_image_articles.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

h2 {
  font: var(--font-h2);
}

h3 {
  font: var(--font-h3);
}

.W_First_line_articles,
.W_Second_line_articles,
.W_Third_line_articles,
.W_Fourth_line_articles {
  display: flex;
  justify-content: left;
  align-items: stretch;
  gap: 1vw;
  width: 100%;
  height: 23vw;
  margin-top: 1vw;
}

.M_Tg_ad_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw;
  background-color: var(--color-dark-grey);
  background-image: url(../img/articles/bag_bottles_img_articles.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 46vw;
  border-radius: 1.5vw;
  color: var(--color-white);
}

.M_30degree_article {
  padding: 2vw;
  width: 46vw;
  background-image: url(../img/articles/30degree_article.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.W_second_card_img_text {
  display: flex;
  flex-direction: row;
  width: 110%;
  height: 80%;
  gap: 1vw;
  color: var(--color-dark-grey);
}

.W_second_card_img_text img {
  width: 40%;
}
