* {
  box-sizing: border-box;
}

html {
  background: var(--color-bg-gradient-primary);
  font-size: calc(1vw / 19.2);
  margin: calc(1vw / 19.2);
} /* 100vw / 1440 */

body {
  height: auto;
  margin: 0;
  padding: 0;
}

.body_artical_degree {
  background-image: none;
}

h1 {
  font: var(--font-h1);
  color: var(--color-white);
  line-height: 1.3;
}

h2 {
  font: var(--font-h2);
}

.h2_art_degree {
  color: var(--color-white);
  margin-left: 1vw;
}

p {
  font: var(--font-body);
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.W_First_screen_art_degree {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 30vw;
}

#return_back {
  display: flex;
  flex-direction: row;
  width: 7vw;
  height: 1.5vw;
  background: none;
  border: none;
  padding: 0;
  margin: 3vw 0vw 0vw 3vw;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.W_screen1_line2_art_degree {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vw;
  text-align: center;
}

.W_screen1_line3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.A_ava_article {
  display: flex;
  justify-content: row;
  align-items: center;
  gap: 1vw;
  color: var(--color-white);
}

.W_Second_screen_art_degree {
  width: 100%;
  display: flex;
  height: 191vw;
  background-image: url(/src/img/articles/article_degree_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.W_begin_article {
  display: flex;
  flex-direction: row;
  height: 30vw;
  padding: 9vw 3vw 0;
}
