* {
  box-sizing: border-box;
}

html {
  background: var(--color-bg-gradient-primary);
  font-size: calc(1vw / 19.2);
  margin: calc(1vw / 19.2);
} /* 100vw / 1440 */

body {
  height: auto;
  margin: 0;
  padding: 0;
}

.body_artical_degree {
  background-image: none;
}

h1 {
  font: var(--font-h1);
  color: var(--color-white);
  line-height: 1.3;
}

h2 {
  font: var(--font-h2);
}

.h2_art_degree {
  color: var(--color-white);
  margin-left: 1vw;
}

p {
  font: var(--font-body);
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.W_First_screen_art_degree {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 30vw;
}

#return_back {
  display: flex;
  flex-direction: row;
  width: 7vw;
  height: 1.5vw;
  background: none;
  border: none;
  padding: 0;
  margin: 3vw 0vw 0vw 3vw;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.W_screen1_line2_art_degree {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vw;
  text-align: center;
}

.W_screen1_line3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.A_ava_article {
  display: flex;
  justify-content: row;
  align-items: center;
  gap: 1vw;
  color: var(--color-white);
}

.W_Second_screen_art_degree {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(/src/img/articles/article_degree_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.W_begin_article {
  display: flex;
  flex-direction: row;
  height: 30vw;
  padding: 9vw 3vw 0;
}

.First_vertical_line_art_degree {
  text-align: left;
  width: 25vw;
}

.Second_vertical_line {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  width: 50vw;
}

.Second_vertical_line_art_degree {
  text-align: left;
  width: 48vw;
}

.W_begin_article_2 {
  display: flex;
  flex-direction: row;
  height: 56vw;
  padding: 9vw 3vw 0;
}

.Second_vertical_line_2lev {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 80vw;
  height: 49vw;
}

.Second_horizontal_line_2lev {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  width: 80vw;
  height: 23vw;
}
.Second_horizontal_line_3lev {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  width: 80vw;
  height: 23vw;
  justify-content: right;
}

.M_CardGlass_articles {
  background-color: var(--color-white-bg-card);
  border: var(--glass-border-light);
  border-radius: 1.5vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  inset: 0;
  justify-content: flex-end;
  padding: 2vw;
  position: absolute;
}

.A_CardTitle {
  width: 20vw;
}

.A_CardBadge_articles {
  align-items: center;
  color: var(--color-white);
  border-radius: 6vw;
  border: solid;
  border-width: 3px;
  display: flex;
  height: 3.5vw;
  justify-content: center;
  position: absolute;
  right: 2vw;
  text-decoration: none;
  top: 2vw;
  width: 3.5vw;
  z-index: 3;
}

.A_CardIconWrap_articals {
  align-items: center;
  display: flex;
  height: 160rem;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 106rem;
  transform: translateX(-50%);
  width: 160rem;
  z-index: 2;
}

.O_ad_tg {
  background-image: url(../img/articles/telegram\ add.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  margin: 3vw 0 3vw 0;
  width: 100%;
  height: auto;
}

.W_final_article {
  display: flex;
  flex-direction: row;
  height: 70vw;
  width: 100%;
  padding: 3vw;
}

.First_vertical_line_art_degree_block {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.Second_vertical_line_art_degree_block {
  display: flex;
  flex-direction: column;
  width: 44vw;
}
.First_vertical_line_art_degree_h2 {
  text-align: left;
  width: 25vw;
  margin-bottom: 9vw;
}

.W_infographic_article_degree {
  display: flex;
  flex-wrap: wrap;
  height: 44vw;
  gap: 3vw;
}

.infographic_article_degree_1,
.infographic_article_degree_2,
.infographic_article_degree_3,
.infographic_article_degree_4 {
  width: 20vw;
  height: 20vw;
  align-content: flex-end;
}

.M_infographic_h2 {
  margin-top: 2vw;
  width: 19vw;
}

.Second_vertical_line_art_degree_stroke {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  height: 10vw;
}

.h2_Second_vertical_line_art_degree_stroke1 {
  width: 17%;
}

.h2_Second_vertical_line_art_degree_stroke2 {
  width: 70%;
}
