* {
  box-sizing: border-box;
}

html {
  background: var(--color-bg-gradient-primary);
  font-size: calc(1vw / 19.2);
} /* 100vw / 1440 */

body {
  height: auto;
  margin: 0;
  padding: 0;
}

.body_artical_degree {
  background-image: none;
}

h1 {
  font: var(--font-h1);
  color: var(--color-white);
  line-height: 1.3;
}

h2 {
  font: var(--font-h2);
}

.h2_art_degree {
  color: var(--color-white);
  margin-left: 1vw;
}

p {
  font: var(--font-body);
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.W_First_screen_art_degree {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 30vw;
}

#return_back {
  display: flex;
  flex-direction: row;
  width: 7vw;
  height: 1.5vw;
  background: none;
  border: none;
  padding: 0;
  margin: 3vw 0vw 0vw 3vw;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.W_screen1_line2_art_degree {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vw;
  text-align: center;
}

.W_screen1_line3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.A_ava_article {
  display: flex;
  justify-content: row;
  align-items: center;
  gap: 1vw;
  color: var(--color-white);
}

.W_Second_screen_art_liquid {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(/src/img/articles/article_liquid_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.W_begin_article_liquid {
  display: flex;
  flex-direction: row;
  height: 24vw;
  padding: 9vw 0 0 3vw;
}

.First_vertical_line_art_liquid_h2 {
  text-align: left;
  width: 34vw;
}

.Second_vertical_line_first_screen {
  display: flex;
  flex-direction: column;
  width: 70vw;
  gap: 2vw;
}

.Second_vertical_line_art_degree {
  text-align: left;
  width: 48vw;
}

.W_begin_article_2 {
  display: flex;
  flex-direction: row;
  height: 56vw;
  padding: 9vw 3vw 0;
}

.Second_vertical_line_2lev {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 80vw;
  height: 49vw;
}

.Second_horizontal_line_2lev {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  width: 80vw;
  height: 23vw;
}
.Second_horizontal_line_3lev {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  width: 80vw;
  height: 23vw;
  justify-content: right;
}

.M_CardGlass_articles {
  background-color: var(--color-white-bg-card);
  border: var(--glass-border-light);
  border-radius: 1.5vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  inset: 0;
  justify-content: flex-end;
  padding: 2vw;
  position: absolute;
}

.A_CardTitle {
  width: 20vw;
}

.A_CardBadge_articles {
  align-items: center;
  color: var(--color-white);
  border-radius: 6vw;
  border: solid;
  border-width: 3px;
  display: flex;
  height: 3.5vw;
  justify-content: center;
  position: absolute;
  right: 2vw;
  text-decoration: none;
  top: 2vw;
  width: 3.5vw;
  z-index: 3;
}

.A_CardIconWrap_articals {
  align-items: center;
  display: flex;
  height: 160rem;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 106rem;
  transform: translateX(-50%);
  width: 160rem;
  z-index: 2;
}

.W_final_article_liquid {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  padding: 3vw;
}

.First_vertical_line_art_liquid_block {
  display: flex;
  flex-direction: row;
  width: 93vw;
}

.Second_vertical_line_art_degree_block {
  display: flex;
  flex-direction: column;
  width: 44vw;
}
.First_vertical_line_art_degree_h2 {
  text-align: left;
  width: 25vw;
  margin-bottom: 9vw;
}

.First_vertical_line_art_liquid {
  text-align: left;
  width: 25vw;
  padding-left: 3vw;
}

.First_vertical_line_art_liquid_5 {
  text-align: left;
  width: 29vw;
  padding-left: 3vw;
}

.W_infographic_article_liquid {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
  height: 44vw;
  justify-content: center;
}

.infographic_article_liquid_1,
.infographic_article_liquid_2,
.infographic_article_liquid_3,
.infographic_article_liquid_4 {
  height: 21vw;
  width: 30vw;
}

.M_infographic_h2_liquid {
  margin-top: 2vw;
  width: 28vw;
}

.Second_vertical_line_art_degree_stroke {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  height: 10vw;
}

.h2_Second_vertical_line_art_degree_stroke1 {
  width: 17%;
}

.h2_Second_vertical_line_art_degree_stroke2 {
  width: 70%;
}

.W_begin_article_liquid_5 {
  display: flex;
  flex-direction: row;
  height: 10vw;
}

.Second_vertical_line_liquid {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 15vw;
}

.Second_vertical_line_liquid2 {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 50vw;
}

.Second_vertical_line_liq {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  width: 75vw;
}

.Second_vertical_line_art_liquid {
  text-align: left;
  width: 35vw;
}
