@font-face {
  font-family: "Nasalization";
  src: url("../fonts/nasalization-rg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PTRootUI-Medium.woff2") format("woff2"),
    url("../fonts/PTRootUI-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PTRootUI-Regular.woff2") format("woff2"),
    url("../fonts/PTRootUI-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "PT Root UI";
  src: url("../fonts/pt-root-ui_regular.woff"),
    ("../fonts/pt-root-ui_regular.woff2");
  font-weight: 400;
} */

/* @font-face {
  font-family: "PT Root UI";
  src: url("../fonts/pt-root-ui_light.woff"),
    ("../fonts/pt-root-ui_light.woff2");
  font-weight: 300;
} */
