@font-face {
  font-family: 'DIN Condensed';
  src: url('../fonts/DINCondensed-Regular.woff'),
    ('../fonts/DINCondensed-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Futura PT Condensed';
  src: url('../fonts/futura_pt_cond_bold.woff'),
    ('../fonts/futura_pt_cond_bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueCyr-Medium.woff');
  font-weight: 500;
}
