* {
  box-sizing: border-box;
}

html {
  font-size: calc(1vw / 19.2);
  margin: calc(1vw / 19.2);
} /* 100vw / 1440 */

body {
  font-family: "Helvetica Neue";
  /* background-color: rgb(0, 0, 0); */
  font-size: 32rem;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.header {
  margin: 20rem;
  width: calc(100% - 40rem);
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.media-img-header {
  width: 3vw;
  height: 3vw;
}

.logo {
  width: 6vw;
  height: 4vw;
  display: flex;
  align-items: center;
}

.logo__text {
  font-family: "DIN Condensed";
  color: #ffffff;
  font-size: 40rem;
  margin: 20rem 0 0 0;
}

.logo-img {
  height: 5vw;
  width: 10vw;
}

.media-img {
  height: 4vw;
  width: 4vw;
}

.socials {
  width: 6vw;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vw;
  margin: 0 20rem 0 0;
}

.socials a {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease;
  transform-origin: center;
}

.socials a:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.header-nav {
  width: calc(100% - 40rem);
  margin: 20rem auto;
  padding: 0 20rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  color: black;
  font-family: "DIN Condensed";
}

/* логотип */
.header-nav__logo {
  font-size: 48rem;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.05em;
  transition: opacity 0.3s ease;
}

.header-nav__logo:hover {
  opacity: 0.7;
}

/* меню */
.header-nav__menu {
  display: flex;
  gap: 40rem;
}

/* ссылки */
.header-nav__link {
  font-size: 32rem;
  text-decoration: none;
  color: black;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform-origin: center;
}

.header-nav__link:hover {
  opacity: 0.7;
  transform: translateY(-2rem);
}
