.W-ScreenOne {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.W-Screen1-left {
  width: 49%;
}

.W-Screen1-right {
  width: 50%;
}

.A-LogoTitile {
  width: 100%;
}

h1 {
  font: var(--font-h1);
  line-height: var(-ls-h1);
  text-transform: uppercase;
}

.A-Title {
  width: auto;
  height: auto;
  font: var(--font-h1);
  color: var(--color-text);
  line-height: var(-ls-h1);
  text-transform: uppercase;
  margin: -2.5vw 0 0 6vw;
}

.A-TrashS1 {
  width: 100%;
  margin: -6vw 0 0 0;
}

.O-DayCard {
  width: 100%;
  height: 20vw;
  background-color: var(--color-yellow);
  border-radius: 2vw;
  border-bottom: 1vw solid var(--color-dark-grey);
  border-right: 1vw solid var(--color-dark-grey);
  display: flex;
}

.W-DayCardLeft {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
  justify-content: space-between;
  padding: 1vw 0 1vw 1vw;
}

.W-DayCardRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.A-WorldIcon {
  padding-right: 2vw;
  height: 88%;
  width: 133%;
}

.W-DayCard-LineTitle {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.A-DayCardText {
  width: 95%;
  font: var(--font-h3);
  text-transform: uppercase;
  color: var(--color-dark-grey);
}

.A-WarnerIcon {
  width: 7%;
}

.A-TitileDayCard {
  color: var(--color-dark-grey);
}

.W-Screen1-right {
  background-color: var(--color-dark-grey);
  width: 50%;
  border-bottom: 1vw solid var(--color-dark-grey);
  border-right: 1vw solid var(--color-dark-grey);
  border-radius: 2vw;
}

.O-KickCard {
  border: 1vw solid var(--color-text);
  background-color: var(--color-pink);
  height: 100%;
  width: 100%;
  border-radius: 2vw;
}

.W-ScreenTwo {
  width: 100%;
  margin-top: 2vw;
}

.O-ArticlesAdd {
  width: 100%;
  height: 30vw;
  background-color: var(--color-text);
  border-bottom: 1vw solid var(--color-dark-grey);
  border-right: 1vw solid var(--color-dark-grey);
  border-radius: 2vw;
  display: flex;
  justify-content: space-between;
}

.W-ArticlesAdd-Right {
  width: 46%;
  padding: 8vw 0 0 2vw;
}

.A-ArticlesAdd-img {
  width: 95%;
}

button {
  background-color: var(--color-yellow);
  border: none;
  border-radius: 0.5vw;
  color: var(--color-dark-grey);
  font: var(--font-h4);
  text-transform: uppercase;
  height: 3.5vw;
  width: 14.5vw;
}

.W-ReadTitile-Button {
  display: flex;
  gap: 4vw;
  margin: -4.4vw 0 0 2vw;
  width: 100%;
  align-items: center;
  height: 4vw;
}

.A-ReadTitile {
  color: var(--color-text);
  font: var(--font-h3);
  line-height: var(--ls-h4);
}

.A-AllArticlesButton {
  background-color: var(--color-yellow);
  border: none;
  border-radius: 0.5vw;
  color: var(--color-dark-grey);
  font: var(--font-h4);
  text-transform: uppercase;
  height: 3.5vw;
  width: 14.5vw;
}

.W-ArticlesAdd-Left {
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 54%;
  align-items: center;
}

.M-ArticlesCard {
  width: 49%;
  height: 16vw;
  border-top-right-radius: 1vw;
  border-top-left-radius: 1vw;
}

.W-ArticlesCard-Title {
  justify-content: space-around;
  align-items: center;
  display: flex;
  height: 3vw;
  width: 100%;
  border-top-right-radius: 1vw;
  border-top-left-radius: 1vw;
  background-color: var(--color-yellow);
}

.A-ArticlesCard-Title {
  font: var(--font-h2);
  color: var(--color-dark-grey);
}

.A-ArrowIcon {
  height: 50%;
}

.W-ArticlesCard-img {
  width: 100%;
  height: 9vw;
  background-color: var(--color-bg-grey);
}

.A-ReadFurther {
  font: var(--font-h3);
  color: var(--color-read);
  text-transform: uppercase;
}

.A-ReadFurther-link {
  color: var(--color-dark-grey);
}

.W-ScreenThree {
  margin-top: 2vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.O-Post {
  width: 49%;
  height: 40vw;
  background-color: var(--color-green);
  border-radius: 2vw;
  border-bottom: 1vw solid var(--color-dark-grey);
  border-right: 1vw solid var(--color-dark-grey);
  padding: 2vw 2vw;
}

.O-Map {
  width: 49%;
  height: 40vw;
  background-color: var(--color-yellow);
  border-radius: 2vw;
  border-bottom: 1vw solid var(--color-dark-grey);
  border-right: 1vw solid var(--color-dark-grey);
}

.M-TitilePost {
  display: flex;
  width: 100%;
  height: 3vw;
  justify-content: space-between;
  gap: 1vw;
  align-items: center;
}

.A-logoPost {
  height: 155%;
  object-fit: contain;
}

.A-TitilePost {
  font: var(--font-h1);
  color: var(--color-text);
}

.M-PostInformation {
  background-image: url(../img/index-img/A-PostImg.svg);
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 28vw;
}

.A-ButtonPost {
  margin: 1vw;
}

.W-PostIcons {
  width: 100%;
  height: 3vw;
  display: flex;
  justify-content: space-between;
}

.W-PostIcons-Right {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.W-Screen-Four {
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
}

.M-AboutUs {
  border-bottom: 1vw solid var(--color-dark-grey);
  border-radius: 2vw;
  border-right: 1vw solid var(--color-dark-grey);
  height: 22vw;
  width: 49%;
  background-color: var(--color-text);
}

.A-LogoAboutUs {
  width: 97%;
  padding: 3vw 0 0 2vw;
}

.W-AboutUsTitile-Button {
  align-items: center;
  display: flex;
  gap: 4vw;
  height: 4vw;
  margin: -4.4vw 0 0 3vw;
  width: 100%;
}

.A-ReadTitile {
  font: var(--font-h3);
  line-height: var(--ls-h4);
  text-transform: uppercase;
  color: var(--color-text);
}

.W-ScreenFour-Img {
  width: 49%;
}

.A-TrashImg {
  width: 100%;
}

.O-Learn {
  width: 100%;
  height: 22vw;
  background-color: var(--color-pink);
  border-bottom: 1vw solid var(--color-dark-grey);
  border-radius: 2vw;
  border-right: 1vw solid var(--color-dark-grey);
  display: flex;
  justify-content: space-between;
  padding: 2vw;
}
.W-Learn-Right {
  position: relative;
  width: 49%;
}

.W-Questions {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.M-Question {
  align-items: center;
  background-color: var(--color-text);
  border-radius: 0.4vw;
  height: 6vw;
  width: 95%;
  display: flex;
  padding: 1vw;
}

.W-Questions-Text {
  display: flex;
  justify-content: space-between;
  width: 89%;
  gap: 2vw;
  align-items: center;
  padding-left: 1vw;
}

.W-Learn-Left {
  width: 49%;
}

.A-QuestionTitile,
.A-QuestionText {
  color: var(--color-dark-grey);
  text-transform: uppercase;
}

.A-Learn-img {
  width: 100%;
}

.W-LearnTitile-Button {
  display: flex;
  gap: 4vw;
  margin: -4.4vw 0 0 2vw;
  width: 100%;
  align-items: center;
  height: 4vw;
}

.A-LearnTitile {
  color: var(--color-text);
  font: var(--font-h3);
  line-height: var(--ls-h4);
}

.A-Button {
  background-color: var(--color-yellow);
  border: none;
  border-radius: 0.5vw;
  color: var(--color-dark-grey);
  font: var(--font-h4);
  text-transform: uppercase;
  height: 3.5vw;
  width: 14.5vw;
}

.A-Loop,
.A-Book {
  left: 68%;
  width: 45%;
  position: absolute;
}

.A-Loop {
  top: 20%;
  left: 50%;
}
