.W_TestPage {
  display: flex;
  justify-content: center;
  padding: 2vw 0;
}

.O_TestCard {
  width: 30vw;
  height: 44vw;
  background-color: var(--color-text);
  border-radius: 2vw;
  border-bottom: 1vw solid var(--color-dark-grey);
  border-right: 1vw solid var(--color-dark-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw;
  position: relative;
}

.W_TestTop {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.A_TestLabel {
  margin: 0;
  font: var(--font-h4);
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.25);
}

.A_TestQuestion {
  margin: 0;
  font: var(--font-h1);
  text-transform: uppercase;
  color: var(--color-dark-grey);
}

.C_TestAnswers {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
  margin-top: 1vw;
}

.M_TestAnswer {
  display: flex;
  align-items: center;
  gap: 1.2vw;
  cursor: pointer;
  user-select: none;
}

.A_TestBox {
  width: 2.2vw;
  height: 2.2vw;
  border-radius: 0.4vw;
  border: 0.25vw solid var(--color-dark-grey);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.M_TestAnswer.isActive .A_TestBox {
  border-color: var(--color-dark-grey);
  background: var(--color-yellow);
}

.A_TestAnswerText {
  font: var(--font-h3);
  text-transform: uppercase;
  color: var(--color-dark-grey);
}

.W_TestNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.A_TestNavBtn {
  width: 4.2vw;
  height: 4.2vw;
  border: none;
  border-radius: 0.6vw;
  background-color: var(--color-yellow);
  font: var(--font-h2);
  color: var(--color-dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.A_TestNavBtn:disabled {
  opacity: 0.35;
  cursor: not-allowed;
}

.A_TestResultText {
  margin: 0;
  font: var(--font-h3);
  text-transform: uppercase;
  color: var(--color-dark-grey);
  opacity: 0.75;
}

.isHidden {
  display: none;
}
