:root {
  /* COLORS  */
  --color-green: #02973b;
  --color-dark-green: #008633;
  --color-pink: #ee36b0;
  --color-light-pink: #feaae1;
  --color-dark-grey: #535353;
  --color-text: #ececec;
  --color-bg-grey: #d4d4d4;
  --color-white: #f4f4f4;
  --color-yellow: #f2f53a;
  --color-dark-yellow: #d1e01b;
  --color-read: #b7b7b7;

  /* COLORS — Semantic*/

  --color-text-primary: var(--color-dark-grey);
  --color-text-secondary: var(--color-light-grey);

  --color-bg-page: var(--color-grey-white);
  --color-bg-card: var(--color-white);

  /* COLORS — Gradient */

  /* Font families */
  --font-family-base: "Inter", system-ui, -apple-system, sans-serif;
  --font-family-display: "Inter", system-ui, -apple-system, sans-serif;

  /* Typography scale */

  /* inter bold 32 / 40, letter-spacing: -4 */
  --font-h1: 700 32rem/40rem var(--font-family-display);
  --ls-h2: -0.04em;

  /* inter bold 24 / 32, letter-spacing: -6 */
  --font-h2: 700 24rem/32rem var(--font-family-base);
  --ls-body-strong: -0.06em;

  /* inter semi-bold 24 / 32, letter-spacing: -6 */
  --font-h3: 600 24rem/32rem var(--font-family-base);
  --ls-h3: -0.06em;

  /* inter medium 24 / 32, letter-spacing: -6 */
  --font-h4: 500 24rem/32rem var(--font-family-base);
  --ls-body-lg: -0.06em;
}

* {
  box-sizing: border-box;
}

html {
  font-size: calc(1vw / 19.2);
  scroll-behavior: smooth;
} /* 100vw / 1440 */

body {
  background-image: none;
  height: auto;
  margin: 0;
  padding: 0;
}

h1 {
  font: var(--font-h1);
  color: var(--color-white);
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

main {
  margin: 3vw 2vw 3vw 2vw;
  height: auto;
}
