.W_main_style-guide {
  height: 200vw;
  display: flex;
  margin: 0 5vw;
}

.O_navbar_style-guide {
  width: 30%;
  background: #000;
}

.Q_h3_style-guide {
  font: var(--font-h3);
  color: var(--color-light-blue);
}

.Q_h1_style-guide {
  text-transform: capitalize;
  margin: 3vw 0;
  color: var(--color-light-blue);
  font-family: var(--font-family-base);
  font-weight: 500;
  font-size: 144rem;
  line-height: 150rem;
}

.Q_h1_SG {
  color: var(--color-light-blue);
  font: var(--font-h1);
}

.W_Right_style-guide {
  width: 70%;
}

.W_ScreenOne_principles {
  display: flex;
  height: 18vw;
  margin: 6vw 0 0 0;
  justify-content: space-between;
  align-items: flex-start;
}

.W_ScreenOne_principles_left {
  width: 35vw;
}

.W_ScreenOne_principles_right {
  width: 25vw;
  margin: 9vw 0 0 0;
}

.Q_h3_principles {
  width: 25vw;
  margin: 2vw 0 0 0;
}
.W_ScreenOne_principles_right .Q_h3_principles {
  margin: 0;
  width: 25vw;
  text-align: left;
}

/* второй экран */
.W_ScreenTwo_elements {
  width: 100%;
  height: 50vw;
  display: flex;
  flex-wrap: wrap;
}

/* третий экран */
.W_ScreenThree_elemnts {
  display: flex;
  height: 18vw;
  margin: 6vw 0 0 0;
  justify-content: space-between;
  align-items: flex-start;
}

/* четвертйы экран */
.W_ScreenFour_elemnts {
  display: flex;
  height: 18vw;
  margin: 6vw 0 0 0;
  justify-content: space-between;
  align-items: flex-start;
}
