@import "reset.css";
@import "root.css";
@import "fonts.css";
/* components */
@import url("../components/header/header.css");
@import url("../components/footer/footer.css");
@import url("../components/card/card.css");
@import url("../components/button/button.css");

@import "layout.css";
@import "style-guide.css";
@import "articles.css";
@import "game.css";
@import "learn.css";
@import "animation.css";
@import "artical-degree.css";
@import "artical-cup.css";
@import "artical-razer.css";
@import "artical-liquid.css";
/* adaptives */
@import "./adaptive/adaptive-layout.css";
@import url("./adaptive/adaptive-articals.css");
@import "./adaptive/adaptive-articals.css";
@import "./adaptive/adaptive-degree.css";
@import "./adaptive/adaptive-razer.css";
@import "./adaptive/adaptive-liquid.css";
@import "./adaptive/adaptive-style-guide.css";
