<header class="C_Header">
  <div class="M_HeaderLayout">
    <!-- Logo -->
    <a class="A_HeaderLogoLink" href="/src/index.html" aria-label="На главную">
      <img
        class="Q_HeaderLogoImg"
        src="/img/icons/favicon.svg"
        alt="TRACE logo"
      />
    </a>

    <!-- Nav -->
    <nav class="M_HeaderNav" aria-label="Основная навигация">
      <div class="M_NavPill">
        <span class="Q_NavIndicator" aria-hidden="true"></span>

        <a class="A_NavLink is-active" href="/src/index.html">Главная</a>
        <a class="A_NavLink" href="/src/pages/about.html">О нас</a>
        <a class="A_NavLink" href="/src/pages/articles.html">Статьи</a>
        <a class="A_NavLink" href="/src/pages/game.html">Игра</a>
      </div>
    </nav>

    <!-- Social -->
    <div class="M_HeaderSocial" aria-label="Социальные сети">
      <a
        class="A_SocialLink"
        href="https://t.me/trace_media"
        aria-label="Telegram"
      >
        <img class="Q_SocialImg" src="/img/icons/telegram.svg" alt="Telegram" />
      </a>
      <a
        class="A_SocialLink"
        href="https://vk.com/club233568845"
        aria-label="VK"
      >
        <img class="Q_SocialImg" src="/img/icons/vk.svg" alt="VK" />
      </a>
    </div>
  </div>

  <script src="/src/javascripts/header.js"></script>
</header>
