.O-Header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 1vw 0;
}

.W-HeaderFrame {
  background-color: var(--color-text);
  border-radius: 0.2vw;
  height: 4vw;
  width: 94%;
}

.O-Navbar {
  height: auto;
  width: auto;
}

.M-NavGroup {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1vw;
}

.A-NavItem {
  text-transform: uppercase;
  font: var(--font-h1);
  color: var(--color-dark-grey);
  line-height: var(-ls-h2);
  padding: 0.2% 1%;
  transition:
    transform 0.5s ease-in-out 0.1s,
    color 0.3s ease;
}

.A-NavItem:hover {
  justify-content: center;
  display: flex;
  background-color: var(--color-dark-grey);
  color: var(--color-yellow);
  padding: 0.2% 1%;
  border-radius: 0.3vw;
  transform: scale(1.1);
}

.is-active {
  justify-content: center;
  display: flex;
  background-color: var(--color-dark-grey);
  color: var(--color-yellow);
  padding: 0.2% 1%;
  border-radius: 0.3vw;
}
