<header class="O-Header">
  <div class="W-HeaderFrame">
    <img class="A-Logo" src="#" alt="logo" />
    <div class="O-Navbar">
      <div class="M-NavGroup">
        <a class="A-NavItem is-active" href="index.html">Главная</a>
        <a
          class="A-NavItem"
          href="https://hseadc.github.io/Trace/pages/articles.html"
          >Статьи</a
        >
        <a class="A-NavItem" href="learn.html">Обучение</a>
        <a class="A-NavItem" href="game.html">Игра</a>
      </div>
    </div>
  </div>
</header>
