<header class="C_Header">
  <div class="M_HeaderLayout">
    <a class="A_HeaderLogoLink" href="/" aria-label="На главную">
      <img
        class="Q_HeaderLogoImg"
        src="https://raw.githubusercontent.com/HSEADC/Trace/1e38b37529f6102ac157dff34841560c951076d5/src/img/icons/favicon.svg"
        alt="TRACE logo"
      />
    </a>

    <nav class="M_HeaderNav" aria-label="Основная навигация">
      <div class="M_NavPill">
        <span class="Q_NavIndicator" aria-hidden="true"></span>

        <a class="A_NavLink" href="/index.html">Главная</a>
        <a class="A_NavLink" href="/pages/articles.html">Статьи</a>
        <a class="A_NavLink" href="/pages/game.html">Игра</a>
      </div>
    </nav>

    <div class="M_HeaderSocial" aria-label="Социальные сети">
      <a
        class="A_SocialLink"
        href="https://t.me/trace_media"
        aria-label="Telegram"
      >
        <img
          class="Q_SocialImg"
          src="https://raw.githubusercontent.com/HSEADC/Trace/1e38b37529f6102ac157dff34841560c951076d5/src/img/icons/telegram.svg"
          alt="Telegram"
        />
      </a>
      <a
        class="A_SocialLink"
        href="https://vk.com/club233568845"
        aria-label="VK"
      >
        <img
          class="Q_SocialImg"
          src="https://raw.githubusercontent.com/HSEADC/Trace/1e38b37529f6102ac157dff34841560c951076d5/src/img/icons/vk.svg"
          alt="VK"
        />
      </a>
    </div>

    <button class="A_HeaderBurger" type="button" aria-label="Открыть меню">
      <span class="Q_BurgerLine"></span>
      <span class="Q_BurgerLine"></span>
      <span class="Q_BurgerLine"></span>
    </button>
  </div>
</header>
