<footer class="C_Footer">
  <div class="M_FooterLayout">
    <!-- Logo -->
    <div class="W-LogoFooter">
      <div class="A-Logo-Footer"></div>
      <a
        href="https://hseadc.github.io/Trace/"
        class="A_FooterLogo"
        aria-label="На главную"
      >
        TRACE
      </a>
    </div>

    <!-- Navigation -->
    <nav class="M_FooterColumn" aria-label="Навигация">
      <h3 class="A_FooterTitle">Навигация</h3>
      <ul class="M_FooterList">
        <li>
          <a class="A_FooterLink" href="https://hseadc.github.io/Trace/"
            >Главная</a
          >
        </li>
        <li>
          <a
            class="A_FooterLink"
            href="https://hseadc.github.io/Trace/pages/articles.html"
            >Статьи</a
          >
        </li>
        <li>
          <a
            class="A_FooterLink"
            href="https://hseadc.github.io/Trace/pages/articals/artical-degree.html"
            >Стирка при 30 градусах</a
          >
        </li>
        <li>
          <a
            class="A_FooterLink"
            href="https://hseadc.github.io/Trace/pages/articals/artical-razer.html"
            >Многоразовая бритва</a
          >
        </li>
        <li>
          <a
            class="A_FooterLink"
            href="https://hseadc.github.io/Trace/pages/articals/artical-liquid-or-solid.html"
            >Твердый шампунь</a
          >
        </li>
      </ul>
    </nav>

    <!-- Useful links -->
    <div class="M_FooterColumn">
      <h3 class="A_FooterTitle">Полезные ссылки</h3>
      <ul class="M_FooterList">
        <li>
          <a class="A_FooterLink" href="https://hseadc.github.io/Trace/"
            >О TRACE</a
          >
        </li>
      </ul>
    </div>

    <!-- Students -->
    <div class="M_FooterColumn">
      <h3 class="A_FooterTitle">Студентки</h3>
      <ul class="M_FooterList">
        <li>
          <a
            target="blank"
            class="A_FooterLink"
            href="https://hsedesign.ru/designer/marina-borodulina-973cd9ccdedf481dbc1969f6b8e29796"
            >Бородулина Марина</a
          >
        </li>
        <li>
          <a
            target="blank"
            class="A_FooterLink"
            href="https://hsedesign.ru/designer/MariaRed"
            >Красная Мария</a
          >
        </li>
        <li>
          <a
            target="blank"
            class="A_FooterLink"
            href="https://hsedesign.ru/designer/1e416838300642acbc8661ad66cc8c6e"
            >Николаева Виктория</a
          >
        </li>
      </ul>
    </div>

    <!-- Social -->
    <div class="M_FooterSocial" aria-label="Социальные сети">
      <a
        target="blank"
        href="https://t.me/trace_media"
        class="Q_SocialIcon"
        aria-label="Telegram"
      >
        <img
          class="Q_SocialImg"
          src="https://raw.githubusercontent.com/HSEADC/Trace/65b2c20f644f5a9566626034c1f260b13762a618/src/img/icons/telegram.svg"
          alt="Telegram"
        />
      </a>
      <a
        target="blank"
        href="https://vk.com/club233568845"
        class="Q_SocialIcon"
        aria-label="VK"
      >
        <img
          class="Q_SocialImg"
          src="https://raw.githubusercontent.com/HSEADC/Trace/65b2c20f644f5a9566626034c1f260b13762a618/src/img/icons/vk.svg"
          alt="VK"
        />
      </a>
    </div>
  </div>
</footer>
