<footer class="C_Footer">
  <div class="M_FooterLayout">
    <!-- Logo -->
    <a href="/" class="A_FooterLogo" aria-label="На главную"> TRACE </a>

    <!-- Navigation -->
    <nav class="M_FooterColumn" aria-label="Навигация">
      <h3 class="A_FooterTitle">Навигация</h3>
      <ul class="M_FooterList">
        <li><a class="A_FooterLink" href="/">Главная</a></li>
        <li><a class="A_FooterLink" href="/pages/about.html">О TRACE</a></li>
        <li><a class="A_FooterLink" href="/pages/news.html">Новости</a></li>
        <li>
          <a class="A_FooterLink" href="/pages/interactive.html">Интерактив</a>
        </li>
        <li><a class="A_FooterLink" href="/pages/map.html">Карта</a></li>
      </ul>
    </nav>

    <!-- Useful links -->
    <div class="M_FooterColumn">
      <h3 class="A_FooterTitle">Полезные ссылки</h3>
      <ul class="M_FooterList">
        <li>
          <a class="A_FooterLink" href="/pages/ui-kit.html">Наш UI-Kit</a>
        </li>
        <li>
          <a class="A_FooterLink" href="/pages/style-guide.html"
            >Наш Style guide</a
          >
        </li>
      </ul>
    </div>

    <!-- Students -->
    <div class="M_FooterColumn">
      <h3 class="A_FooterTitle">Студентки</h3>
      <ul class="M_FooterList">
        <li><span class="A_FooterText">Бородулина Марина</span></li>
        <li><span class="A_FooterText">Красная Мария</span></li>
        <li><span class="A_FooterText">Николаева Виктория</span></li>
      </ul>
    </div>

    <!-- Social -->
    <div class="M_FooterSocial" aria-label="Социальные сети">
      <a
        href="https://t.me/trace_media"
        class="Q_SocialIcon"
        aria-label="Telegram"
      >
        <img
          class="Q_SocialImg"
          src="https://raw.githubusercontent.com/HSEADC/Trace/bd4e97c85b343aa7975035a5ae85173a77913867/src/img/icons/telegram.svg"
          alt="Telegram"
        />
      </a>
      <a
        href="https://vk.com/club233568845"
        class="Q_SocialIcon"
        aria-label="VK"
      >
        <img
          class="Q_SocialImg"
          src="https://raw.githubusercontent.com/HSEADC/Trace/bd4e97c85b343aa7975035a5ae85173a77913867/src/img/icons/vk.svg"
          alt="VK"
        />
      </a>
    </div>
  </div>
</footer>
